In [18]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
import pandas as pd
import json
import gzip
import datetime
import glob
# ------------------------------------------------------------------------------

In [19]:
files = glob.glob('data/Kickstarter*json.gz')
tabletop_list = []

for file in files:
    with gzip.open(file, "rt", encoding="utf-8") as f:
        for data in f:
            entry = json.loads(data)
    #         print(json.dumps(entry, indent = 4))
    #         break
            if "tabletop" in entry["data"]["category"]["slug"].lower():
    #             print(entry["data"]["category"]["slug"].lower())
                try:
                    tabletop_json = {}

                    tabletop_json["game_id"] = entry["data"]["id"]
                    tabletop_json["game_name"] = entry["data"]["name"]
                    tabletop_json["game_name_slug"] = entry["data"]["slug"]
                    tabletop_json["money_goal"] = entry["data"]["goal"]
                    tabletop_json["currency_type"] = entry["data"]["current_currency"]
                    tabletop_json["date_created"] = entry["data"]["created_at"]
                    tabletop_json["date_launched"] = entry["data"]["launched_at"]
                    tabletop_json["date_obtained"] = file[17:27]
                    tabletop_json["ks_state"] = entry["data"]["state"]
                    tabletop_json["money_pledged"] = entry["data"]["pledged"]
                    tabletop_json["date_end"] = entry["data"]["deadline"]
                    tabletop_json["backers_count"] = entry["data"]["backers_count"]
                    
                    
                    tabletop_json["category_id"] = entry["data"]["category"]["id"]
                    tabletop_json["category_position"] = entry["data"]["category"]["position"]
                    tabletop_json["category_name"] = entry["data"]["category"]["name"]
                    tabletop_json["category_name_slug"] = entry["data"]["category"]["slug"]

                    tabletop_json["location_id"] = entry["data"]["location"]["id"]
                    tabletop_json["location_name"] = entry["data"]["location"]["name"]
                except:
                    print("Entry Skipped: ", entry["data"]["name"])

        #         print(json.dumps(tabletop_json, indent = 4))

                tabletop_list.append(tabletop_json)
            
#         break
print("games found: ", len(tabletop_list))


print(json.dumps(tabletop_list[60], indent = 4))

Entry Skipped:  Triumvirate Pre-Orders
Entry Skipped:  Laugh Riot! The Comedy-Improv Card Game
Entry Skipped:  The Gentlemen of the South Sandwiche Islands
Entry Skipped:  Triumvirate Pre-Orders
Entry Skipped:  'Reign' Enchiridion
Entry Skipped:  'Reign' Enchiridion
Entry Skipped:  The Gentlemen of the South Sandwiche Islands
Entry Skipped:  Laugh Riot! The Comedy-Improv Card Game
Entry Skipped:  Laugh Riot! The Comedy-Improv Card Game 11/2009
Entry Skipped:  Laugh Riot! The Comedy-Improv Card Game 11/2009
Entry Skipped:  The Gentlemen of the South Sandwiche Islands
Entry Skipped:  Laugh Riot! The Comedy-Improv Card Game
Entry Skipped:  Triumvirate Pre-Orders
Entry Skipped:  Laugh Riot! The Comedy-Improv Card Game
Entry Skipped:  Laugh Riot! The Comedy-Improv Card Game 11/2009
Entry Skipped:  'Reign' Enchiridion
Entry Skipped:  Triumvirate Pre-Orders
Entry Skipped:  'Reign' Enchiridion
Entry Skipped:  The Gentlemen of the South Sandwiche Islands
Entry Skipped:  Laugh Riot! The Comedy-Improv Card Game 11/2009
Entry Skipped:  'Reign' Enchiridion
Entry Skipped:  Triumvirate Pre-Orders
Entry Skipped:  'Reign' Enchiridion
Entry Skipped:  Laugh Riot! The Comedy-Improv Card Game 11/2009
Entry Skipped:  The Gentlemen of the South Sandwiche Islands
Entry Skipped:  Laugh Riot! The Comedy-Improv Card Game
Entry Skipped:  Laugh Riot! The Comedy-Improv Card Game
Entry Skipped:  Triumvirate Pre-Orders
Entry Skipped:  The Gentlemen of the South Sandwiche Islands
Entry Skipped:  Laugh Riot! The Comedy-Improv Card Game 11/2009
games found:  27096
{
    "game_id": 1054600438,
    "game_name": "Deck of the Extraordinary Voyages",
    "game_name_slug": "deck-of-the-extraordinary-voyages",
    "money_goal": 13500,
    "currency_type": "USD",
    "date_created": 1345060622,
    "date_launched": 1346804170,
    "date_obtained": "2018-09-13",
    "ks_state": "successful",
    "money_pledged": 32404,
    "date_end": 1349396170,
    "backers_count": 891,
    "category_id": 34,
    "category_position": 6,
    "category_name": "Tabletop Games",
    "category_name_slug": "games/tabletop games",
    "location_id": 2482949,
    "location_name": "Rochester"
}

In [64]:
tp_df = pd.DataFrame(tabletop_list)
tp_df.head()

tp_df["date_created_epoch"] = tp_df["date_created"]
tp_df["date_launched_epoch"] = tp_df["date_launched"]
tp_df["date_end_epoch"] = tp_df["date_end"]

tp_df["date_created"] = [time.strftime('%Y %m %d %H:%M:%S', time.localtime(x)) for x in tp_df.date_created]
tp_df["date_launched"] = [time.strftime('%Y %m %d %H:%M:%S', time.localtime(x)) for x in tp_df.date_launched]
tp_df["date_end"] = [time.strftime('%Y %m %d %H:%M:%S', time.localtime(x)) for x in tp_df.date_end]

tp_df["year_created"] = [datetime.datetime.strptime(x, "%Y %m %d  %H:%M:%S").year for x in tp_df["date_created"]]
tp_df["month_created"] = [datetime.datetime.strptime(x, "%Y %m %d  %H:%M:%S").month for x in tp_df["date_created"]]
tp_df["day_created"] = [datetime.datetime.strptime(x, "%Y %m %d  %H:%M:%S").day for x in tp_df["date_created"]]
tp_df["hour_created"] = [datetime.datetime.strptime(x, "%Y %m %d  %H:%M:%S").hour for x in tp_df["date_created"]]


tp_df["year_launched"] = [datetime.datetime.strptime(x, "%Y %m %d  %H:%M:%S").year for x in tp_df["date_launched"]]
tp_df["month_launched"] = [datetime.datetime.strptime(x, "%Y %m %d  %H:%M:%S").month for x in tp_df["date_launched"]]
tp_df["day_launched"] = [datetime.datetime.strptime(x, "%Y %m %d  %H:%M:%S").day for x in tp_df["date_launched"]]
tp_df["hour_launched"] = [datetime.datetime.strptime(x, "%Y %m %d  %H:%M:%S").hour for x in tp_df["date_launched"]]

tp_df["year_end"] = [datetime.datetime.strptime(x, "%Y %m %d  %H:%M:%S").year for x in tp_df["date_end"]]
tp_df["month_end"] = [datetime.datetime.strptime(x, "%Y %m %d  %H:%M:%S").month for x in tp_df["date_end"]]
tp_df["day_end"] = [datetime.datetime.strptime(x, "%Y %m %d  %H:%M:%S").day for x in tp_df["date_end"]]
tp_df["hour_end"] = [datetime.datetime.strptime(x, "%Y %m %d  %H:%M:%S").hour for x in tp_df["date_end"]]

tp_df["year_obtained"] = [d[0:4] for d in tp_df["date_obtained"]]
tp_df["month_obtained"] = [d[5:7]  for d in tp_df["date_obtained"]]

tp_df.groupby("currency_type").count()
tp_df = tp_df[tp_df["currency_type"] == "USD"]
tp_df.head()

,backers_count,category_id,category_name,category_name_slug,category_position,currency_type,date_created,date_end,date_launched,date_obtained,...,year_launched,month_launched,day_launched,hour_launched,year_end,month_end,day_end,hour_end,year_obtained,month_obtained
0,611,34,Tabletop Games,games/tabletop games,6,USD,2013 04 22 19:19:59,2013 05 30 11:21:25,2013 04 30 11:21:25,2018-09-13,...,2013,4,30,11,2013,5,30,11,2018,09
1,314,34,Tabletop Games,games/tabletop games,6,USD,2013 03 12 07:59:01,2013 05 07 21:00:04,2013 03 28 21:00:04,2018-09-13,...,2013,3,28,21,2013,5,7,21,2018,09
2,776,34,Tabletop Games,games/tabletop games,6,USD,2013 04 24 09:26:04,2013 06 26 07:12:29,2013 05 27 07:12:29,2018-09-13,...,2013,5,27,7,2013,6,26,7,2018,09
3,43,34,Tabletop Games,games/tabletop games,6,USD,2013 03 07 05:19:43,2013 06 10 01:00:00,2013 05 11 07:10:24,2018-09-13,...,2013,5,11,7,2013,6,10,1,2018,09
4,752,34,Tabletop Games,games/tabletop games,6,USD,2013 04 17 14:14:48,2013 06 09 14:22:23,2013 05 07 14:22:23,2018-09-13,...,2013,5,7,14,2013,6,9,14,2018,09

In [65]:
print(len(tp_df))
tp_df = tp_df.drop_duplicates(keep="last")
print(len(tp_df))

csv_path = "data/KS_data_full" + ".csv"
print (csv_path)

tp_df.to_csv(csv_path)

26288
17114
data/KS_data_full.csv

In [62]:

tp_df = tp_df[["ks_state",
               "game_name",
               "game_id",
               "money_pledged",
               "backers_count",
               "location_id",
               "money_goal",
               "month_created",
               "day_created",
               "hour_created",
               "month_launched",
               "day_launched",
               "hour_launched",
               "month_end",
               "day_end",
               "hour_end",
                "month_obtained",
              "date_created_epoch",
              "date_launched_epoch",
              "date_end_epoch"]]

tp_df[tp_df["ks_state"] == "cancelled"].head()
tp_df.groupby("ks_state").count()
# tp_df.head()

,game_name,game_id,money_pledged,backers_count,location_id,money_goal,month_created,day_created,hour_created,month_launched,day_launched,hour_launched,month_end,day_end,hour_end,month_obtained,date_created_epoch,date_launched_epoch,date_end_epoch
ks_state,,,,,,,,,,,,,,,,,,,
live,2259,2259,2259,2259,2259,2259,2259,2259,2259,2259,2259,2259,2259,2259,2259,2259,2259,2259,2259
successful,14855,14855,14855,14855,14840,14855,14855,14855,14855,14855,14855,14855,14855,14855,14855,14855,14855,14855,14855

In [63]:
csv_path = "data/KS_data" + ".csv"
print (csv_path)

tp_df.to_csv(csv_path)

data/KS_data.csv